*{
    margin: 0;
    padding: 0;
}

.titulo {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 5px;
    margin: 5px;
    
}

form {
    padding: 10px;
}

input {
    margin: 5px;
}